body {
  font-family: 'Open Sans', sans-serif;
  opacity: 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: rgb(143, 187, 187);
  font-size: 20px;
  text-align: center;
}

h2 {
  font-size: 25px;
  padding-bottom: 10px;
  text-decoration: underline;
}

.navbar-brand {
    font-size: 40px;
    color: rgb(143, 187, 187) !important;
}

.navbar {
    background-color: rgb(75, 75, 80) !important;
}

.carousel-item {
  padding: 25px;
}

.carousel img {
  margin: auto;
}

.carousel-control-prev-icon {
  background-color: black;
  padding: 25px;

}

.carousel-control-next-icon {
  background-color: black;
  padding: 25px;
}

.carouselComic {
  background-image: url(https://www.bdpinternational.com/uploads/attachments/ck6axr5izcptnksqp75lnejn5-update-images4.0.130.2500.1406.max.png);
  grid-area: carousel;
  padding-top: 15px;
}

.credit {
  text-align: center;
  color: rgb(194, 205, 209);
  padding: 20px !important;
}

.my-navbar {
    grid-area: header;
}

.my-card{
    grid-area: carousel-image;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      
.my-grid {
    display: grid;
    grid-template-columns: 24vw 24vw 24vw 24vw;
    grid-template-rows: 50px auto;
    grid-template-areas:
    "header header header header"
    "carousel carousel carousel carousel-image"
    ". game-paragraph game game";
}

}