body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: red;
  font-size: 50px;
}

h2 {
  font-size: 25px;
  padding-bottom: 10px;
  text-decoration: underline;
}

h3 {
padding-top: 20px;
}

#covidStats {
text-align: center;
}

.covidStats {
  margin: 15px;
  width: 350px;
}

#stateCards {
  padding-left: 15px;
}

#stateCards {
  padding-top: 15px;
  text-align: center;
  font-size: 25px;
}

.card-body {
  font-size: 20px;
}

.nav-item{
  font-size: 20px;
}

.my-navbar {
    grid-area: header;
}

.card-title {
  text-align: center;
}

.card-subtitle {
  text-align: center;
}

.twitter-card{
    grid-area: card;
}

/* media for sizing on different devices */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

/* this is for using css grid layout */
.my-grid {
    display: grid;
    grid-template-columns: 24vw 24vw 24vw 24vw;
    grid-template-rows: 50px auto;
    grid-template-areas:
    "header header header header"
    ". . twitter-card . .";
}

}

.dark-mode {
    background-color: rgb(26, 26, 26);
    color: white;
}

#darkMode {
  margin: 20px;
}

.dark-mode .card {
  background-color: rgb(26, 26, 26);
}

.image {
    height: 300px;
    width: auto;
    background-image: url("../images/covid.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
