h1 {
  color: red;
}

/* added some margin to make the cards have some space in between them  */
.covidStats {
  margin: 10px;
}

/* added padding here to make everything in this div not flush with the left side of the screen, looks nicer */
#stateCards {
  padding-left: 15px;
}